<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href=""> -->
    <title><%= title %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#">Home</a>
            <a class="blog-nav-item" href="/planet">Planet</a>
            <a class="blog-nav-item" href="http://wiki.nanjinglug.org">Wiki</a>
            <a class="blog-nav-item" href="/about">About</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title"><%= siteName %></h1>
        <p class="lead blog-description"><%= tagLine %></p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <%- content %>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <%- widget[0] %>
            </div>
            <div class="sidebar-module">
                <h4>我们还在这里</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/njlug">GitHub</a></li>
                    <li><a href="https://plus.google.com/100944744118135065951/">Google+</a></li>
                    <li><a href="https://twitter.com/nanjinglug">Twitter</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.container -->

<div class="blog-footer">
    <p><%= title %></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="/css/hljs_style.css">
<script src="/js/highlight.min.js"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
